<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junliang.boot.business.mapper.ArchiveCompleteRuleFieldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.junliang.boot.business.entity.ArchiveCompleteRuleFieldDO">
        <result column="id" property="id" />
        <result column="is_deleted" property="isDeleted" />
        <result column="tenant_id" property="tenantId" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
        <result column="rule_id" property="ruleId" />
        <result column="from_id" property="fromId" />
        <result column="from_name" property="fromName" />
        <result column="field_id" property="fieldId" />
        <result column="field_name" property="fieldName" />
        <result column="field_value" property="fieldValue" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        is_deleted,
        tenant_id,
        created_by,
        created_date,
        last_modified_by,
        last_modified_date,
        rule_id,from_id, from_name, field_id, field_name, field_value
    </sql>

</mapper>
